:root{
    --gridLength: 16;
}

#container{
    height: 900px;
    width: 900px;
    border-width: 1;
    display: grid;
    border-style: solid;
    margin: 50px auto;
    grid-template-columns: repeat(var(--gridLength), 1fr);
    grid-template-rows: repeat(var(--gridLength), 1fr);
}


#clear{
    text-align: center;
}